.second-screen {
  background-color: white;
  min-height: 100vh;
  color: black;

  .container,
  .second-container {
    // width: 1440px;
    // height: 100vh;

    width: 100%;
    height: 100%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 3px solid red;
  }
}

.second-container {
  background: #323232;
}

.img-container,
.img-container-second {
  width: 1440px;
  height: 960px;
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: white;
  }

  img {
    width: 100%;
    position: absolute;
  }
}

.description {
  width: 50%;
}
